<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletSeConnecter</servlet-name>
        <servlet-class>org.fsp.tp8boutique.client.SeConnecter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSeDeconnecter</servlet-name>
        <servlet-class>org.fsp.tp8boutique.client.ServletSeDeconnecter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEnvoyer</servlet-name>
        <servlet-class>org.fsp.tp8boutique.client.ServletEnvoyer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRafraichir</servlet-name>
        <servlet-class>org.fsp.tp8boutique.client.ServletRafraichir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSeConnecter</servlet-name>
        <url-pattern>/ServletSeConnecter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSeDeconnecter</servlet-name>
        <url-pattern>/ServletSeDeconnecter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEnvoyer</servlet-name>
        <url-pattern>/ServletEnvoyer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRafraichir</servlet-name>
        <url-pattern>/ServletRafraichir</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
